<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>This is App Component</p>
            <app-server></app-server>
            <app-servers></app-servers>
            <div app-servers></div>
            <div class="app-servers"></div>
        </div>
    </div>
</div>
 -->
